[Unit]
Description={{ freshrss_name | upper }}
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
User={{ freshrss_service_user }}
Group={{ freshrss_service_user }}
ExecStart={{ freshrss_start_command }}
ExecStop={{ freshrss_stop_command }}
RemainAfterExit=true

[Install]
WantedBy=multi-user.target